In [20]:
# create a function to run queries and output pandas dataframe
def Q(query, db=db_conn):
    return pd.read_sql(query, db)

In [ ]:
Q('''

''')

In [30]:
Q('''
PRAGMA table_info(Album);
''')

   cid          name       type  notnull dflt_value  pk
0    0      album_id       TEXT        0       None   0
1    1    album_name       TEXT        0       None   0
2    2  external_url       TEXT        0       None   0
3    3     image_url       TEXT        0       None   0
4    4  release_date  TIMESTAMP        0       None   0
5    5  total_tracks    INTEGER        0       None   0
6    6          type       TEXT        0       None   0
7    7     album_uri       TEXT        0       None   0
8    8     artist_id       TEXT        0       None   0

In [ ]:
Q('''

''')

In [29]:
# delete later
Q('''
SELECT name 
FROM sqlite_master
  ''')

            name
0         Artist
1          Album
2          Track
3  Track_Feature